<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="header">
      <div class="title">
        <a href="/"><h1>Speak Your Mind</h1></a>
      </div> 
      <div class="links">
        <% if(typeof(user)=="object" && user) { %>
          <div class="user">
            Welcome Back <%= user.username %>
          </div>
          <a href='/logout'><button>Log Out</button></a>
          <% } else {%>
          <a href="/login"><button>Sign In</button></a>
          <a href="/signup"><button>Join</button></a>

          <% } %>
      </div>
    </div>

    <div class="form-title">
    <h1>Delete This Message?</h1>
      </div>
    <div class="message-info">

      

        <h3><strong>Title:</strong></h3>
        <p><%= message.title %></p>
        
        <h3><strong>User:</strong></h3>
        <p><%= message.author %></p>

        <h3><strong>Posted On:</strong></h3>
        <p><%= message.formatted_timestamp %></p>

        <h3><strong>Message Body:</strong> </h3>

        <p><%= message.text %></p>
    
    </div>

    <div class="delete">
        <form action="" method="POST">
            <input class="delete-button" type="submit" value="Delete Post">
        </form>
    </div>

  </body>
</html>
