<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="header">
      <div class="title">
        <a href="/"><h1><%= title %></h1></a>
      </div> 
      <div class="links">
        <% if(typeof(user)=="object" && user) { %>
          <p>Welcome Back <%= user.username %></p>
          <a href='/logout'><button>Log Out</button></a>
          <% } else {%>
          <a href="/login"><button>Sign In</button></a>
          <a href="/signup"><button>Join</button></a>

          <% } %>
      </div>
    </div>

    <div class="message-info">

      <h1>Delete This Message?</h1>

        <p>Title:</p>
        <p><%= message.title %></p>
        
        <p>User:</p>
        <p><%= message.author %></p>

        <p>Posted On:</p>
        <p><%= message.formatted_timestamp %></p>

        <p>Message Body: </p>

        <p><%= message.text %></p>
    
    </div>

    <div>
        <form action="" method="POST">
            <input type="submit" value="Delete Post">
        </form>
    </div>

  </body>
</html>
